<html>
<head>
  <title>twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

	<body>
		<br> <br>
    	<h2 align="center" style="color : DodgerBlue ">twitter</h2>
    	<br> <br>
				<div class="container">

                    <h4>logged out !</h4>
                    <a href='{% url "login"%}'><p>click here to login</p></a>


				</div>
		{%if messages%}
	<div class="alert alert-danger" role="alert">
	{% for message in messages %}
	<h5 align="center">{{message}}</h5>
	{% endfor %}
	</div>
	{%endif%}
	</body>
</html>

