{% extends 'feed/base.html' %}

{%block content%}

        <div class="jumbotron">
          <h1 class="display-4">Hello, {{user.username}}!</h1>
          <p class="lead">This is a simple twitter clone ! </p>
          <hr class="my-4">
          <p>Click below to Create Tweet</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'tweetcreate' %}" role="button">Create tweet</a>
          </p>
        </div>

    <br>


    <div class="container-fluid" >
        {% for tweet in object_list %}

                    <br>

                  <div class="card w-50" >
                      <div class="card-header">
                       <a  class="nav-link" href="#"><h5>{{tweet.uname}}</h5></a>
                      </div>
                  <div class="card-body">
                      <h5 class="card-title"> </h5>
                      <p class="card-text"><h5>{{tweet.text}}</h5></p>
                       <p><h6>{{tweet.datetime}}</h6></p>
                           {% if tweet.uname == user  %}
                          <a href='{%url "tweetupdate" tweet.id%}'> <button  class="btn btn-outline-info" type="submit">Edit</button></a>
                          <a href='{%url "tweetdelete" tweet.id%}'> <button  class="btn btn-outline-danger" type="submit">Delete</button></a>
                          {% endif %}
                  </div>

                </div>
        {% endfor %}
    </div>

    <br>



{%if messages %}
	<div class="alert alert-danger" role="alert">

	{% for message in messages %}
	<h5 align="center">{{message}}</h5>
	{% endfor %}

	</div>
	{%endif%}

{%endblock content%}