{% extends 'feed/base.html' %}

{%block content%}

        <div class="jumbotron">
          <h1 class="display-4">Hello, {{user.username}}!</h1>
          <p class="lead">This is a simple twitter clone ! </p>
          <hr class="my-4">
          <p>Click below to Create Tweet</p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Tweet</a>
          </p>
        </div>

    <br>
    <div class="container-fluid">
        <div class="card">
                          <div class="card-header">
                              <h5>tweet</h5>
                          </div>
                          <div class="card-body">
                              <form method="POST">
                                  {%csrf_token%}
                                  <input  type="text" name="text"  class="form-control" >
                                   <br>
                                  <button class="btn btn-outline-info" type="submit">Tweet</button>
                              </form>

                          </div>
        </div>


    </div>

    <div class="container-fluid">
        {% for tweet in object_list %}

                    <br>

                  <div class="card">
                  <div class="card-header">
                      <a  class="nav-link" href="#"><h5>{{tweet.uname}}</h5></a>

                  </div>
                  <div class="card-body">
                      <p class="card-text"><h6>{{tweet.text}}</h6></p>
                       <p><h6>{{tweet.datetime}}</h6></p>

                  </div>

                </div>
    </div>

                <br>

        {% endfor %}

{%if messages %}
	<div class="alert alert-danger" role="alert">

	{% for message in messages %}
	<h5 align="center">{{message}}</h5>
	{% endfor %}

	</div>
	{%endif%}

{%endblock content%}